*~
*.pyc
*.swp
*.log
*.pyo
*.project
*.cproject
*.vcproj
*.orig
*.settings*
*.external*
*.pydev*
*.sublime*
Thumbs.db
.idea/
_cache/
__pycache__/
build/
dist/
src/aip/Setup Files
src/aip/faforever-cache
src/bsdiff.pyd
RELEASE-VERSION